name: CI

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

jobs:
  lint:
    uses: alexames/luarocks-repository/.github/workflows/lint.yml@main

  test:
    uses: alexames/luarocks-repository/.github/workflows/test.yml@main
    with:
      dependencies: llx lua-midi
