name: Publish

on:
  push:
    branches: [ main ]
    tags:
      - 'v*'

jobs:
  publish:
    uses: alexames/luarocks-repository/.github/workflows/publish.yml@main
    with:
      package-name: musica
    secrets:
      REPO_ACCESS_TOKEN: ${{ secrets.REPO_ACCESS_TOKEN }}
